./node_modules
Python/2_LogisticRegression1/.idea/2_LogisticRegression1.iml
Python/2_LogisticRegression1/.idea/modules.xml
Python/2_LogisticRegression1/.idea/workspace.xml
Python/2_LogisticRegression1/.idea/inspectionProfiles/profiles_settings.xml
misc.xml
workspace.xml
